<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>


    
  
    <%const array = push_player%>
    <%let name = parameter%>
    <% const result = array.find(element => { %>

        <% return element.toLowerCase() === name.toLowerCase() %>
        
    <% }); %>
    <%let UUID = array.indexOf(result);%>
    <%let UUID_player = array[UUID + 1];%>
    <% if (array.includes(result) === true) { %>
        <title><%=result%> | Mineral</title>
        <h1><%=result%></h1>

        <img src="https://visage.surgeplay.com/full/512/<%=UUID_player%>" alt="">

        <% } else { %>
            
            <h1>Something went wrong...</h1>

            <% } %>
</body>
</html>